/* ----------------------------------

Name: main.css
Version: 1.0

-------------------------------------

Table of contents
        
    01. Navbar
    02. Slider
    03. About us
    04. Services
    05. Some Facts
    06. Portfolio
    07. Testimonials
    08. Blog
    09. Contact
    10. Footer
*/

body {
    font-family: 'Muli', sans-serif;
    height: 5000px;
    padding: 0;
    margin: 0;
}

/* ==========================
   [01]. Navbar
========================== */
.navbar {
    background-image: linear-gradient(to bottom, #ec7b25, #ee881e, #ef9515, #efa30c, #eeb004, #efb312, #efb61c, #f0b924, #f2b232, #f2ac3d, #f2a647, #f0a150);
    padding: 25px 0;
}

.navbar .nav-item {
    font-size: 17px;
    font-weight: 600;
    margin: 0 20px;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
    transition: transform .2s;
}

.navbar .nav-item .nav-link:hover {
    color: #000080;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.navbar ul li a.icon {
    margin-left: 20px;
    margin-right: 10px;
}

.navbar ul a i {
    padding: 7px;
    margin-left: 5px;
    background-color: #cfecf7;
    color: #000080;
    border-radius: 50px;
    font-size: 20px;
    transition: 0.5s;
}

.navbar ul a i:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


/* ==========================
   [02]. Slider
========================== */
.slider {
    background: url('../img/home_1.jpg') center center no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    background-attachment: fixed;
    align-items: center;
    margin-top: 20px;
}

.animated-headlines .cd-headline span {
    font-size: 56px;
    font-family: 'Brush Script MT', cursive !important;
    font-weight: 300;
    text-transform: capitalize;
    color: #ffffff;
}

.slider .left-content .hello {
    font-size: 80px;
    font-weight: 300;
    font-family: 'Brush Script MT', cursive;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.slider .left-content .bpn-name {
    font-size: 35px;
    font-weight: 700;
    color: #FDFF00;
    margin: 0;
    padding: 0;
}

.slider .left-content .btn {
    border: none;
    background: #FDFF00;
    padding: 16px 70px;
    font-size: 17px;
    color: #03AC13;
    font-style: bold;
    margin-top: 10px;
    text-decoration: none;
    z-index: 200;
}

/* ==========================
   [03]. About Us
========================== */

.about-us {
    padding: 135px 0;
    background: #cfecf7;
}



.about-us h2 {
    font-size: 30px;
    font-weight: 800;
    color: #ee881e;

}

.about-us p {
    font-size: 15px;
    font-weight: 400;
    color: black;
    line-height: 28px;
    margin: 20px 0 40px 0;
}

/* ==========================
   [04]. Our Pillars
========================== */
.our_pillars {
    padding: 45px;
    background: #ffffff;
}

.our_pillars h2 {
    font-size: 30px;
    font-weight: 800;
    color: #000080;
    margin-bottom: 60px;
    padding: 10px;
}

.our_pillars .box {
    padding: 40px;
    margin-bottom: 30px;
    background-image: linear-gradient(to bottom, #ec7b25, #ee881e, #ef9515, #efa30c, #eeb004, #efb312, #efb61c, #f0b924, #f2b232, #f2ac3d, #f2a647, #f0a150);
    color: #ffffff;
    transition: transform .2s;
}

.our_pillars .box:hover {
    padding: 40px;
    margin-bottom: 30px;
    background: #F0A150;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.our_pillars .box span {
    font-size: 30px;
    color: #000080;
    padding: 8px;
}

.our_pillars .box p {
    font-size: 14px;
    color: #000080;
    font-weight: 600;
    line-height: 26px;
    padding: 0;
    margin: 0;
}

/* ==========================
   [04]. Our Work
========================== */
.our_work {
    padding: 130px 0 95px 0;
    background: #cfecf7;

}

.our_work h2 {
    font-size: 30px;
    font-weight: 800;
    color: #ee881e;
    margin-bottom: 30px;

}

.our_work .box {
    padding: 40px;
    height: 450px;
    margin-bottom: 30px;
    background: #D3D3D3;
}

.our_work .box h3 {
    font-size: 18px;
    font-weight: 700;
    color: #ee881e;
    margin: 0;
    padding: 0;
    margin: 20px 0;
}

.our_work .box ul li {
    font-size: 14px;
    color: #000080;
    font-weight: 400;
    line-height: 26px;
    padding: 0;
    margin: 0;
}

/* ==========================
   [05]. Some Facts
========================== */

.some-facts {
    padding: 50px;
    color: #ee881e;

    font-weight: 700;
}

.some-facts .items span {
    font-size: 30px;
    color: #000080;
    margin: 0;
    padding: 0;
}

.some-facts .items h3 {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff !important;
    margin: 0;
    padding: 0;
    margin: 10px 0;
}

.some-facts .items h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}


/* ==========================
   [06]. Gallery
========================== */

.gallery {
    padding: 130px 0 95px 0;
    background: #cfecf7;
}

.gallery h2 {
    font-size: 30px;
    font-weight: 800;
    color: #ee881e;
    margin-bottom: 60px;
}

.gallery .button-group {
    margin-bottom: 30px;
}

.gallery .button-group button {
    border:none;
    background: transparent;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
    color: #000080;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 35px;
    transition: all .2s ease-in-out;
}

.gallery .button-group button:hover {
    color: #ffffff;
    background: #ee881e;
    border: none;
}

.gallery .button-group button.active {
    color: #ffffff;
    background: #ee881e;
    border: none;
}

.gallery .single-portfolio-item {
    position: relative;
    margin-bottom: 30px;
}

.gallery .single-portfolio-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #ee881e;
    border:none;
    color: #ffffff;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.gallery .single-portfolio-item .overlay .content {
    font-size: 20px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    transition: all .3s ease-in-out;

}

.gallery .single-portfolio-item .overlay .content h3 {
    font-size: 18px;
    font-weight: 500;
}

.gallery .single-portfolio-item .overlay .content p {
    font-size: 14px;
    font-weight: 200;
}

.gallery .single-portfolio-item .overlay .content a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.gallery .single-portfolio-item:hover .overlay {
    opacity: .95;
}

/* ==========================
   [09]. Contact
========================== */

.contact {
    padding: 130px 0 95px 0;
    background: #D3D3D3;

}

.contact h2 {
    font-size: 30px;
    font-weight: 800;
    color: #000080;
    margin: 20px;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin: 5px;
    border: none;
    background: #ffffff;
    width: 100%;

}


.contact button.btn {
    padding: 15px;
    font-size: 18px;
    margin: 5px;
    border: none;
    background: #000080;
    color: #ffffff;
    width: 100%;

}

.contact .info {
    padding-left: 40px;
}

.contact .info span {
    font-size: 20px;
    color: #ee881e;
}

.contact .info p {
    font-size: 14px;
    margin: 10px 0 20px 0;
    color: #000080;
}


/* ==========================
   [10]. Footer
========================== */
.footer-section {
    padding: 40px 0;
    background-image: linear-gradient(to bottom, #ec7b25, #ee881e, #ef9515, #efa30c, #eeb004, #efb312, #efb61c, #f0b924, #f2b232, #f2ac3d, #f2a647, #f0a150);
}

.footer-section .container h3 {
    color: #ffffff;
    font-size: 22px;
}

.footer-section .container p {
    color: #000080;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
}

.footer-section .container li,
i,
a {
    list-style: none;
    padding: 5px;
    color: #000080;
    font-size: 17px;
    font-weight: 500;
}

.footer-section .container .subscribe input[type="text"] {
    width: 75%;
    height: 35px;
    background: #ffffff;
    border: none;
}

.footer-section .container .subscribe input[type="button"] {
    width: calc(100%- 75%);
    padding: 9px;
    background: #000080;
    color: #ffffff;
    font-size: 12px;
    border: none;
}

/* ==========================
   [11]. Copyright
========================== */
.copyright {
    background: #ee881e;
}

.copyright .container>.social-icons>span {
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    background: #000080;
    border-radius: 50%;
    transition: 0.2s;
}

.copyright .container p>a {
    color: #ffffff;
}

.copyright .container .social-icons span:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}




/* ==========================
   [11]. Media
========================== */
/*Small devices (landscape phones, 576px and up) */
@media (max-width: 575.99px) {

    /* Slider*/
    .slider {
        height: calc(100vh - 80px);
        margin-top: 80px;
    }

    .slider img {
        display: none;
    }

    .navbar {
        padding: 20px;
    }

    .animated-headlines .cd-headline span {
        font-size: 30px;
    }

    /* About Me */
    .about-me {
        padding: 130px 25px;
    }

    .about-me img {
        margin-bottom: 30px;
    }

    .about-me .btn-1 {
        margin-bottom: 30px;
    }

    .some-facts .items h4 {
        margin-bottom: 30px;
    }

    .blog .box {
        margin-bottom: 30px;
    }

    .contact .info {
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Slider*/
    .slider {
        height: calc(100vh - 80px);
        margin-top: 80px;
    }

    .slider .left-content {
        padding: 0;
        margin: 0;
    }

    .animated-headlines .cd-headline span {
        font-size: 30px;
    }

    /* About Me */
    .about-me img {
        padding: 0;
        margin-bottom: 30px;
    }

    .some-facts .items h4 {
        margin-bottom: 30px;
    }

    .blog .box {
        margin-bottom: 30px;
    }

    .contact .info {
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .animated-headlines .cd-headline span {
        font-size: 30px;
    }

    .slider .left-content {
        padding: 140px 0;
    }

    .some-facts .items h4 {
        margin-bottom: 30px;
    }

    .blog .box {
        margin-bottom: 30px;
    }

    .blog {
        padding-bottom: 90px;
    }

    .about-me img {
        display: none;
    }
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}